<footer class="text-center text-white mt-4" style="background-color: #607d8b">
  <hr class="text-dark" />

  <div class="container">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
  
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>JeiSeven
          </h6>
          <p>
            Shop your favourite looks and tag us to get featured.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Orders</h6>
          <p>
            <a href="#!" class="text-reset">How To Order</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Shipping And Handling</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Return / Exchange</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Size Guide</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">MARKETPLACE</h6>
          <p>
            <a href="#!" class="text-reset">Shopee</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Tokopedia</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Monday to Friday</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            jeiseven@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 62 834 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 62 834 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2); text-color: #e0e0e0"
  >
    ©
    <script>
      document.write(new Date().getFullYear());
    </script>
    | JeiSeven <i class="fa fa-fire" aria-hidden="true"></i>
  </div>
  <!-- Copyright -->
</footer>
